@CHARSET "ISO-8859-1";

div {
	
	width: 100%;
	
}

.imagem_cabecalho {
	
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	width: 40%;
	
}

.fundo {
	
	background-image: url("#{resource['img/green-white-hbar.jpg']}");
	background-repeat: repeat-x;
	z-index: -9999;
	
	
}